<h1> Edit Pin</h1>
<%= form_with(model: @pins) do |f| %>
    <%= f.label :rating %>
    <%= f.text_field :city %></br>

    <%= f.fields_for :destination do |d|%>
        <%= d.label :city %>
        <%= d.text_field :city %></br>
        <%= d.label :state %>
        <%= d.text_field :state %></br>
        <%= d.label :country %>
        <%= d.text_field :country %></br>
    <% end %>
    
    <%= submit_tag "Add Destination" %>
<% end %>