<div class="welcome_font_color">
    <h1> Lets Get You Registered </h1>

    <%= render partial: "layouts/error", locals: { object: @user} %>

    <%= form_for(@user, url: signup_path) do |f| %>
        First Name: <%= f.text_field :firstname%></br>
        Last Name: <%= f.text_field :lastname%></br>
        Email: <%= f.text_field :email %></br>
        Password: <%= f.password_field :password %></br></br>
        <%= f.submit "Register" %>
    <% end %>

    </br>
    <%= button_to 'Back To Welcome Page', root_path, :method => :get %>
</div>