<h1> New User Signup Page </h1>

<%= render partial: "layouts/error", locals: { object: @user} %>

<%= form_for(@user, url: signup_path) do |f| %>
    First Name: <%= f.text_field :firstname%></br>
    Last Name: <%= f.text_field :lastname%></br>
    Email: <%= f.text_field :email %></br>
    Password: <%= f.password_field :password %></br></br>
    <%= f.submit "Sign Up" %>
    
<% end %>