<% if @destination.errors.any? %>           <!-- Displyaing Validation Errors -->
<div id="error_explanation">
  <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% @destination.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: @destination) do |f| %>         <!-- form_with allows you to pick between model or url. If you are going to use CRUD actions you need to use models. URLs are good for redirects/logins  -->
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <%= f.label :country %>
  <%= f.text_field :country %>
  
      <h3>Add Pin Rating</h3>
  <%= f.fields_for :pins do |p|%>
      <%= p.label :rating %>
      <%= p.text_field :rating %></br>
  <% end %>

  <%= submit_tag "Add Destination" %>
<% end %>