<!DOCTYPE html>
<html>
  <head>
    <title>BeenThereDoneThat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <a href= "/pins/new">Create Pin</a> || <a href= "/pins"> Pins</a> || <a href= "/destinations/new">Create Destination</a> || <a href= "/destinations"> Destinations</a> 

    <%= button_to "Sign In With Google", '/auth/google_oauth2' %>

    <%= link_to "Log Out", logout_path, method: 'delete' %>

    <% flash.each do |type, msg| %>
      <%= msg %>
    end
 
    <%= yield %>
  </body>
</html>
